/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4e4ba; /* dark grey background */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.container h2 {
  font-weight: bold;
  color: #000;
  margin-bottom: 1.5rem;
}

.amount {
  margin-bottom: 1.5rem;
  text-align: left;
}

.amount label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 500;
  color: #333;
}

.amount input {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dropdown label {
  font-weight: 500;
  color: #333;
  margin-bottom: 0.3rem;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  justify-content: center;
}

.select-box img {
  width: 35px;
  height: auto;
  border-radius: 4px;
}

.select-box select {
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.exchange-icon {
  font-size: 1.3rem;
  color: #555;
  margin-top: 1.8rem;
}

.msg {
  text-align: center;
  margin: 1rem 0;
  color: #007f6c;
  font-weight: bold;
  font-size: 1.1rem;
}


button {
  width: 100%;
  padding: 0.7rem;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}
